/*Default Style*/
* {
    box-sizing: border-box;
    color: dimgray;
}

/*HTML Tags*/
body { margin: 0; }
td   { text-align: center; }

/*Class Declarations*/
/*Colored Squares*/
.blue  { background-color: blue; }
.red   { background-color: red;  }
.gray  { background-color: gray; }
.black { background-color: black;}

/*Hidden*/
.hidden {
  visibility: hidden;
}

.world {
  perspective: 100em;
  /*transform-style: preserve3d;*/
  perspective-origin: left top;
  /*animation: spin   ease-in-out 3s infinite alternate;*/
}

/*.left   { animation: foldleft ease-in-out 3s infinite alternate; }*/
.left   { background: rgba(255, 000, 000, 0.3); transform-origin: right center;  animation: foldleft   ease-in-out 3s infinite alternate; }
.right  { background: rgba(255, 127, 000, 0.3); transform-origin: left  center;  animation: foldright  ease-in-out 3s infinite alternate; }
.top    { background: rgba(255, 255, 000, 0.3); transform-origin: center bottom; animation: foldtop    ease-in-out 3s infinite alternate; }
.bottom { background: rgba(000, 255, 000, 0.3); transform-origin: center top;    animation: foldbottom ease-in-out 3s infinite alternate; }
.front  { background: rgba(000, 127, 255, 0.3); transform-origin: left center;   animation: foldfront  ease-in-out 3s infinite alternate; }
.back   { background: rgba(000, 000, 255, 0.3); transform-origin: right center;  animation: foldback   ease-in-out 3s infinite alternate; }

/*Box*/
.box {
  /*transform-origin: 0% 0%;*/
  border-color: black;
  border-style: dashed;
  border-width: thin;
}

/*Font Weighting*/
.bold {
  font-weight: bold;
  color: white;
}

/*Cell Definition*/
.checker {
  font-size: 4vw;
  float:left;         /*Horizontal Layout*/
  text-align: center; /*Horizontal Centering*/
  transition: background-color 2s, color 5s;
}

.checker:hover {
  background-color: yellow;
  color: black;
}

/*Media Declarations*/
@media (max-width: 600px) {
    .row {
      flex-direction: column;
      flex-direction: column;
    }
}

.move { }

@keyframes foldleft
{
  transform-origin: right center;
  from { left: 0px; transform: rotate(0deg)   }
   50% { left: 0px; transform: rotateY(90deg) }
    to { left: 0px; transform: rotateY(90deg) }
}

@keyframes foldright
{ transform-origin: right center;
  from { left: 0px; transform: rotate(0deg)    }
   50% { left: 0px; transform: rotateY(-90deg) }
    to { left: 0px; transform: rotateY(-90deg) }
}

@keyframes foldtop
{ transform-origin: center bottom;
  from { left: 0px; transform: rotate(0deg)    }
   50% { left: 0px; transform: rotateX(-90deg) }
    to { left: 0px; transform: rotateX(-90deg) }
}

@keyframes foldbottom
{ transform-origin: center top;
  from { left: 0px; transform: rotate(0deg)   }
   50% { left: 0px; transform: rotateX(90deg) }
    to { left: 0px; transform: rotateX(90deg) }
}

@keyframes foldfront
{ transform-origin: left center;
  from { left: 0px; transform: rotate(0deg) }
   /*12% { left: 0px; transform: translate3D(-4.16vw,0,4.16vw)   rotateY(-22.5deg)  }
   25% { left: 0px; transform: translate3D(-8.33vw,0,8.33vw)   rotateY(-45deg)  }*/
   50% { left: 0px; transform: translate3D(-16.66vw,0,16.66vw) rotateY(-90deg)  }
    to { left: 0px; transform: translate3D(-16.66vw,0,16.66vw) rotateY(-180deg) }
}

@keyframes foldback {}
/*{ transform-origin: right center;
  from { left: 0px; transform: rotate(0deg) }
   50% { left: 0px; transform: rotateY(0deg) }
   to { left: 0px; transform: translateX(0%) }
}*/

/*@keyframes spin
{ from { left: 0px; transform: scale(1.0) rotate(0deg) }
    to { left: 0px; transform: scale(1.0) rotate3D(360deg) }
}*/



   /*to   {left: 500px; transform: scale(1.0) rotate(0deg) }*/
