/*Default Style*/
* {
    box-sizing: border-box;
    color: dimgray;
}

/*HTML Tags*/
body { margin: 0; }
td   { text-align: center; }

/*Class Declarations*/
/*Colored Squares*/
.blue  { background-color: blue; }
.red   { background-color: red;  }
.gray  { background-color: gray; }
.black { background-color: black;}

/*Hidden*/
.hidden {
  visibility: hidden;
}

.world {
  -webkit-perspective: 50em;
  /*-webkit-transform-style: preserve3d;*/
  -webkit-perspective-origin: left top;
  /*-webkit-animation: spin   ease-in-out 3s infinite alternate;*/
}

/*.left   { -webkit-animation: foldleft ease-in-out 3s infinite alternate; }*/
.left   { background: rgba(255, 0, 0, 0.3);   -webkit-animation: foldleft   ease-in-out 3s infinite alternate; }
.right  { background: rgba(255, 127, 0, 0.3); -webkit-animation: foldright  ease-in-out 3s infinite alternate; }
.top    { background: rgba(255, 255, 0, 0.3); -webkit-animation: foldtop    ease-in-out 3s infinite alternate; }
.bottom { background: rgba(0, 255, 0, 0.3);   -webkit-animation: foldbottom ease-in-out 3s infinite alternate; }
.front  { background: rgba(0, 127, 255, 0.3); -webkit-animation: foldfront  ease-in-out 3s infinite alternate; }
.back   { background: rgba(0, 0, 255, 0.3);   -webkit-animation: foldback   ease-in-out 3s infinite alternate; }

/*Box*/
.box {
  /*transform-origin: 0% 0%;*/
  border-color: black;
  border-style: dashed;
  border-width: thin;
}

/*Font Weighting*/
.bold {
  font-weight: bold;
  color: white;
}

/*Cell Definition*/
.checker {
  font-size: 4vw;
  float:left;         /*Horizontal Layout*/
  text-align: center; /*Horizontal Centering*/
  transition: background-color 2s, color 5s;
}

.checker:hover {
  background-color: yellow;
  color: black;
}

/*Media Declarations*/
@media (max-width: 600px) {
    .row {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
}

.move { }

@-webkit-keyframes foldleft
{
  transform-origin: right center;
  from { left: 0px; -webkit-transform: scale(1.0) rotate(0deg) }
    50% { left: 0px; -webkit-transform: scale(1.0)
                                translate3D(50%,0,0)
                                   rotateY(90deg) }
    to { left: 0px; -webkit-transform: scale(1.0)
                                  translate3D(50%,0,0)
                                     rotateY(90deg) }
}

@-webkit-keyframes foldright
{ from { left: 0px; -webkit-transform: scale(1.0) rotate(0deg) }
    50% { left: 0px; -webkit-transform: scale(1.0)
                              translate3D(-50%,0,0)
                                 rotateY(-90deg) }
    to { left: 0px; -webkit-transform: scale(1.0)
                                  translate3D(-50%,0,0)
                                     rotateY(-90deg) }
}

@-webkit-keyframes foldtop
{ from { left: 0px; -webkit-transform: scale(1.0) rotate(0deg) }
    50% { left: 0px; -webkit-transform:
                      scale(1.0)
                      translate3D(0,50%,0)
                      rotateX(-90deg) }
    to { left: 0px; -webkit-transform:
                      scale(1.0)
                      translate3D(0,50%,0)
                      rotateX(-90deg) }
}

@-webkit-keyframes foldbottom
{ from { left: 0px; -webkit-transform: scale(1.0) rotate(0deg) }
    50% { left: 0px; -webkit-transform:
                      scale(1.0)
                      translate3D(0,-50%,0)
                      rotateX(90deg) }
    to { left: 0px; -webkit-transform:
                      scale(1.0)
                      translate3D(0,-50%,0)
                      rotateX(90deg) }
}

@-webkit-keyframes foldfront
{ from { left: 0px; -webkit-transform: scale(1.0) rotate(0deg) }
    50% { left: 0px; -webkit-transform:
                      translate3D(-150%,0,16vw)
                      rotateY(-90deg) }
    to { left: 0px; -webkit-transform:
                      translate3D(-200%,0,8vw)
                      rotateY(-180deg) }
}

@-webkit-keyframes foldback
{ from { left: 0px; -webkit-transform: scale(1.0) rotate(0deg) }
    50% { left: 0px; -webkit-transform: scale(1.0)
                  translate3D(0,0,-6vh)
                  rotateY(0deg)
                  translateX(0%) }
    to { left: 0px; -webkit-transform: scale(1.0)
                      translate3D(0,0,-6vh)
                      rotateY(0deg)
                      translateX(0%) }
}

/*@-webkit-keyframes spin
{ from { left: 0px; -webkit-transform: scale(1.0) rotate(0deg) }
    to { left: 0px; -webkit-transform: scale(1.0) rotate3D(360deg) }
}*/



   /*to   {left: 500px; -webkit-transform: scale(1.0) rotate(0deg) }*/
