/*Default Style*/
* {
    box-sizing: border-box;
    color: dimgray;
}

/*HTML Tags*/
body { margin: 0; }
td   { text-align: center; }

/*Class Declarations*/
/*Colored Squares*/
.blue  { background-color: blue; }
.red   { background-color: red;  }
.black { background-color: black;}

/*Font Weighting*/
.bold {
  font-weight: bold;
  color: white;
}

/*Cell Definition*/
.checker {
  font-size: 4vw;
  float:left;         /*Horizontal Layout*/
  text-align: center; /*Horizontal Centering*/
}

/*Media Declarations*/
@media (max-width: 600px) {
    .row {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
}
