/*Default Style*/
/* { margin:0; padding:0; background-color:#87CEFA; } */
* { margin:0; padding:0; background-color:#666666; }

/*HTML Tags*/
/*body { margin: 0; }
td   { text-align: center; }*/

/*ids*/
#hamburger {
    position: absolute;
    font-size: 3em;
    right: 20;
    background-color: transparent;
}

#sidebar {
  display: none;
  right: 0;
  height:80%;
  font-size: 1.5em;
  /*width:200px;*/
  /*background-color:#fff;*/
  background-color: transparent;
  position:fixed!important;
  z-index:1;
  overflow:auto;
  box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
  /*position:relative;*/
  animation: animatesidebar 0.4s
}

@keyframes animatesidebar {
  from { right:-300px; opacity:0 }
  to { right:0; opacity:1 } }
}

/*#screen {
  position: relative;
}*/

/*Class Declarations*/
/*Colored Squares*/
.blue  { background-color: blue; }
.red   { background-color: red;  }
.gray  { background-color: gray; }
.black { background-color: black;}

/*Font Weighting*/
.bold {
  font-weight: bold;
  color: white;
}

/*Cell Definition*/
.checker {
  font-size: 4vw;
  float:left;         /*Horizontal Layout*/
  text-align: center; /*Horizontal Centering*/
  transition: background-color 2s, color 5s;
}

.checker:hover {
  background-color: yellow;
  color: black;
}

.hidden {
  display: none;
}

/*Media Declarations*/
@media (max-width: 600px) {
    .row {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
}
